.t1{
background-color: aqua;
}
.t2{
background-color: blue;
}
.t3{
    background-color: rgb(0, 0, 0);
}
.t4{
    background-color: rgb(64, 64, 202);
}
.t5{
    background-color: rgb(10, 10, 71);
}
.t6{
    background-color: rgb(150, 150, 223);
}
.t17{
    background-color: blue;
}
